// VARIABLES
$color-grey-light:#EEF3F4;
$color-grey-medium:#A9B4B7;
$color-grey-dark: #555A5B;

$color-accent: #2CC695;

$ts: all 0.2s;
/* CSS Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

input {
    font:inherit;
    border: none;
}

button {
    border: none;
    background-color: initial;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Utility Classes*/

.u-bold {
    font-weight: 500;
}

.u-bolder {
    font-weight:700;
}

.u-italic {
    font-style: italic;
}

.u-accent {
    color: $color-accent;
}

.u-underline {
    text-decoration: underline;
}


/* BASE STYLE */
.page {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    background-image: 
    url(https://bytegrad.com/course-assets/css/2/pattern.svg),
    linear-gradient(to bottom right, #8FD861, #2CC695 90%);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.app {
    width: 1240px;
    height: 1030px;
    background-color: #fff;
    box-shadow: 0 25px 150px rgba(0, 0, 0, 0.65) ;
    margin: 80px 0;
    display: grid;
    grid-template-columns: 355px 1fr;
    grid-template-rows: 65px 724px 1fr;
}

/* STYLES */
.header {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 26px;
    margin-right: 26px;
}

.search {
    position: relative;

    &__input {
        background-color: $color-grey-light;
        border-radius: 500px;
        padding-left: 20px;
        height: 34px;
        width: 405px;
        font-size: 13px;
        color: $color-grey-dark;
        transition: $ts;

        &:focus {
            width: 425px;
            background-color: $color-grey-dark;
            color: $color-grey-light;
        }
    
        &::placeholder {
            color: $color-grey-medium;
        }
    }



    &__submit {
        color: $color-grey-medium;
        cursor: pointer;
        font-size: 15px;
        transition: $ts;
        position: absolute;
        right: 13px;
        top: 8px;

        &:focus {
            color: $color-grey-dark;
        }
    }



    &__icon {
        
    }
}


.nav {
    margin-left: auto;

    &__list {
        display: flex;
    }
    
    &__item {
        
    }
    
    &__link {
        padding: 0 20px;
        display: block;
        height: 65px;
        transition: $ts; 
        align-content: center;

        &:hover,
        &:focus {
            background-color: $color-grey-light;
        }
    }
    
   
    
    &__icon {
        color: $color-grey-medium;
        font-size: 22px;
    }
}


/* Sidebar */
.sidebar {
    background-color: #11271F;
    grid-column: 1/2;
    grid-row: 2/4;
    
}

.intro {
    padding: 48px 35px 45px;
    border-bottom: 1px solid rgba(#fff, 0.1);
    &__heading {
        font-weight: 600;
        font-size: 34px;
        text-transform: uppercase;
        line-height: 1;
    }

    &__text {
        margin-top: 12px;
        font-size: 16px;
        color:$color-grey-light;
        line-height: 1.8;
    }
}

.social {
    display: flex;
    margin: 25px 0 30px;
    justify-content: center;
    &__img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #fff;
        &:not(:first-child) {
            margin-left: -5px;
        }
    }

    &__container {
        margin-left: 10px;
    }

    &__number {
        font-weight: 500;
    }

    &__text {
        font-size: 12px;
        color: $color-grey-medium;
        margin-top: -5px;
    }
}

.auth {

    &__btn {
        background-color: #16B47F;
        display: block;
        padding: 12px 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        transition: $ts;
        

        &:hover,
        &:focus {
            background-color: #119267;
        }
    }

    &__icon{
        margin-left: 2PX;
    }
    
    &__text {
        text-align: center;
        font-size: 12px;
        color: $color-grey-medium;
        margin-top: 8px;
    }
    &__link {
        font-weight: 500;
        color: $color-accent;
    }
}

.upload {
    padding: 45px 35px;
    border-bottom: 1px solid rgba(#fff,  0.1);
    color: $color-grey-medium;
    
    &__container {
        height: 330px;
        background-color: rgba(#fff, 0.03);
        cursor:pointer;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: $ts;
        position: relative;
        // overflow: hidden;
        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.06);
        }
        
        &::before {
            content: '';
            border: 1px dashed #434747;
            position: absolute;
            top: -1px;
            bottom: -1px;
            right: -1px;
            left: -1px;
            border-radius: 3px;
        }
    }

    &__icon {
        font-size: 23px;
    }

    &__text {
        margin-top: 8px;
        color: #fff;
    }

    &__alternative {
        font-size: 12px;
        margin-top: -2px;
    }
}

.footer {
    padding: 50px 0 0 35px;
    font-size: 11px;
    color: rgba($color: $color-grey-medium, $alpha: 0.6);
    &__copyright {
        font-size: inherit;
    }

    &__list {
        display: flex;
        column-gap: 15px;
        margin-top: 10px;
    }

    &__item {

    }

    &__link {

    }
}
/* Gallery */
.gallery {
    background-color: $color-grey-light;
    grid-column: 2/3;
    grid-row: 2/3;
}

.steps {
    background-color: #E7EDEE;
    grid-column: 2/3;
    grid-row: 3/4;
}
